*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;    
}
:root{
    /*background-color*/
    --primary-background-color: #202020;
    --primary-fill-color: #f6f6eb;
    --primary-food-color: rgb(174, 75, 63);
    --primary-modal-background-color: rgba(0, 0, 0, 0.214);

    /*color*/
    --primary-font-color: #dbdada;

    /*spacing*/
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;
    --spacing-xlarge: 4rem;
}

html{
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
   
} 

main{
    display: flex;
    height: 100%;
    justify-content: space-around;
    flex-direction: column  ;
    padding: var(--spacing-large);
    gap: var(--spacing-large);
}

.infos{
    display: flex;
    justify-content: space-between;
    
}


.board{
    flex-grow: 1;
    border: 1px solid var(--primary-font-color);
    display: grid;
    height: 70vh; 
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px, 1fr));
    gap: 0;

}

.btn{
    padding: var(--spacing-small) var(--spacing-medium);
    border: 2px solid var(--primary-font-color);
    background-color: transparent;
    color: var(--primary-font-color);
    font-size: var(--spacing-small);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, scale 0.3s ease-in;
}
.btn:hover{
    background-color: var(--primary-font-color);
    color: var(--primary-background-color);
    scale: 1.05;
}

.block{
    
    
    border-radius: 50%;
    /* height: 30px;
    width: 30px; */
    
}

.fill{
    background-color: var(--primary-fill-color);
}

.head{
    
     background-image: url("snakw.png"); 
    background-size: cover; /* or contain */
    background-position: center;
    border-radius: 50%;
}

.food{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    background-image: url("food.webp"); 
    background-size: cover; /* or contain */
    background-position: center;
    
}

.modal{
    
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-modal-background-color);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.start-game , .game-over{
    padding: var(--spacing-medium);
    border: 2px solid var(--primary-font-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    justify-content: center;
    align-items: center;
}

.game-over
{
    display: none;
    h1{
        font-size: var(--spacing-xlarge);
    }
}